/* Flexbox */

/* 親要素 */
.flexbox{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

/* 子要素 */
.flexbox > div{
	padding:30px;
}
.flexbox > div:nth-child(1){	background-color:#ff9900;}
.flexbox > div:nth-child(2){	background-color:#ffff33;}
.flexbox > div:nth-child(3){	background-color:#99cc33;}
.flexbox > div:nth-child(4){	background-color:#330099; color:#fff;}
.flexbox > div:nth-child(5){	background-color:#ff6600;}
.flexbox > div:nth-child(6){	background-color:#99ccff;}
.flexbox > div:nth-child(7){	background-color:#ff9999;}